page-qr-result {

}

.positivo {
  color: green;
  font-weight: bold;
}

.negativo {
  color: crimson;
  font-weight: bold;

}

ion-card {
  width: 100%;
  margin: auto;
  padding: 10px;
}

ion-card-content {
  text-align: center
}

ion-card-header {
  text-align: center
}
